body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin: auto; /* Center the container horizontally */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Custom dropdown style */
select {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
    appearance: none; /* Remove default dropdown arrow */
}

/* Custom input style */
input[type="text"] {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #777;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #444;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
